:root {
  --fontSize: 16px;
  --scaleRatio: 1.2;

  --sizeXxs: calc(var(--sizeXs) / var(--scaleRatio));
  --sizeXs: calc(var(--sizeSm) / var(--scaleRatio));
  --sizeSm: calc(var(--sizeMd) / var(--scaleRatio));

  --sizeMd: var(--fontSize);

  --sizeLg: calc(var(--sizeMd) * var(--scaleRatio));
  --sizeXl: calc(var(--sizeLg) * var(--scaleRatio));
  --sizeXxl: calc(var(--sizeXl) * var(--scaleRatio));
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  margin: 0;

  font-family: "Bellota Text", cursive;
  font-size: var(--fontSize);
}
