<script>
  import { get } from "svelte/store";

  import { theme } from "./store.js";

  const themeValue = get(theme);

  import Coords from "./Coords.svelte";
  import Footer from "./Footer.svelte";
  import Icon from "./Icon.svelte";
  import LabeledText from "./LabeledText.svelte";

  import Map from "./Map.svelte";

  const getPosition = new Promise((resolve, reject) => {
    navigator.geolocation.getCurrentPosition(
      position => {
        console.log(position);
        resolve({
          timestamp: position.timestamp,
          coords: {
            latitude: position.coords.latitude,
            longitude: position.coords.longitude,
            accuracy: position.coords.accuracy
          }
        });
      },
      error => {
        console.log(error);

        reject(error);
      },
      {
        timeout: 5000
      }
    );
  });
</script>

<style>
  .app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    position: relative;

    color: rgba(0, 0, 0, 0.8);
    background: radial-gradient(
        circle at 100% 50%,
        transparent 20%,
        #ffffff 21%,
        #ffffff 34%,
        transparent 35%,
        transparent
      ),
      radial-gradient(
          circle at 0% 50%,
          transparent 20%,
          #ffffff 21%,
          #ffffff 34%,
          transparent 35%,
          transparent
        )
        0 -50px;
    background-color: #f5f5f5;
    background-size: 75px 100px;
  }

  .app.dark {
    background: radial-gradient(
        circle at 100% 50%,
        transparent 20%,
        hsl(213, 80%, 18%) 21%,
        hsl(213, 80%, 18%) 34%,
        transparent 35%,
        transparent
      ),
      radial-gradient(
          circle at 0% 50%,
          transparent 20%,
          hsl(213, 80%, 18%) 21%,
          hsl(213, 80%, 18%) 34%,
          transparent 35%,
          transparent
        )
        0 -50px;
    background-color: rgba(4, 19, 37, 1);
    background-size: 75px 100px;
    color: white;
  }

  .loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: calc(var(--sizeXl));
  }

  .phoneNumber {
    z-index: 10;
    flex: 1 1 auto;

    padding-top: 50px;
  }
</style>

<div class="app" class:dark={themeValue === 'dark'}>
  {#await getPosition}
    <div class="loading">Don't worry...</div>
  {:then position}
    <Map coords={position.coords} />
    <div class="phoneNumber">
      <LabeledText label="Your phone number">+33 639 988 837</LabeledText>
    </div>

    <Coords coords={position.coords} />

    <Footer />
  {:catch error}
    <div class="loading">{error}</div>
  {/await}
</div>
