<script>
  import { get } from "svelte/store";

  import { theme } from "./store.js";

  const themeValue = get(theme);

  import Icon from "./Icon.svelte";

  export let icon;
</script>

<style>
  button {
    display: flex;
    align-items: center;

    border: none;
    border-radius: var(--sizeXxl);
    padding: var(--sizeXxs) var(--sizeSm);

    background-color: rgba(220, 220, 220, 0.5);

    box-shadow: 0px 2px 16px -8px rgba(127, 127, 127, 0.5);
  }

  button.dark {
    background-color: rgba(4, 19, 37, 0.8);
    color: white;
    box-shadow: 0px 2px 16px -8px rgba(0, 0, 0, 0.5);
  }

  div {
    margin-left: 1em;
  }
</style>

<button class:dark={themeValue === 'dark'}>
  <Icon>{icon}</Icon>
  <div>
    <slot />
  </div>
</button>
