<script>
  import LabeledText from "./LabeledText.svelte";

  export let coords;
</script>

<style>
  .coords {
    width: 100%;

    position: absolute;
    top: calc(50% + 1em);

    z-index: 10;
    display: flex;
    justify-content: space-around;
  }
</style>

<div class="coords">
  <LabeledText label="Latitude">{coords.latitude.toFixed(5)}</LabeledText>
  <LabeledText label="Longitude">{coords.longitude.toFixed(5)}</LabeledText>
  <LabeledText label="Accuracy">{coords.accuracy} m</LabeledText>
</div>
