<script>
  import { spring } from "svelte/motion";
  import { onMount } from "svelte";

  import Icon from "./Icon.svelte";

  let spring1 = spring(0, {
    stiffness: 0.05,
    damping: 0.5
  });

  let spring2 = spring(200, {
    stiffness: 0.05,
    damping: 0.5
  });

  onMount(() => {
    spring1.set(1).then(() => {
      spring2.set(0);
    });
  });

  let showText = false;
</script>

<style>
  .cta {
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;

    font-size: var(--sizeXxl);

    text-decoration: none;

    font-weight: bold;

    border-radius: 9999px;
    border: solid var(--sizeMd) rgba(216, 59, 68, 0.2);
    background: rgb(216, 59, 68);
    color: white;

    background-clip: padding-box;

    box-sizing: content-box;

    overflow: hidden;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    margin-left: 0.25em;
  }
</style>

<a
  href="tel:112"
  class="cta"
  style="padding: calc(var(--sizeLg) * {$spring1}); width: calc(50% * {$spring1});
  max-height: calc( 106px * {$spring1})">
  <div style="transform: translateY({$spring2}%);" class="wrapper">
    <Icon>call</Icon>
    <div class="text">112</div>
  </div>
</a>
