<script>
  import { spring } from "svelte/motion";
  import { onMount } from "svelte";
  import { get } from "svelte/store";

  import { theme } from "./store.js";

  const themeValue = get(theme);

  import Button from "./Button.svelte";
  import Cta from "./Cta.svelte";
  import Icon from "./Icon.svelte";

  let footerPosition = spring(100, {
    stiffness: 0.1,
    damping: 0.7,
    precision: 0.5
  });

  onMount(() => {
    footerPosition.set(0).then(() => {
      showCta = true;
    });
  });

  let showCta = false;
</script>

<style>
  .footer {
    flex: 0 0 calc(25%);
    position: relative;

    display: flex;
    justify-content: center;
  }

  .clipped {
    height: 100%;
    width: 100%;

    background-color: rgba(240, 240, 240, 0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 52px;

    clip-path: ellipse(125% 100% at 50% 100%);
  }

  .clipped.dark {
    background-color: rgba(4, 19, 37, 0.75);
  }
</style>

<div class="footer" style="transform: translateY({$footerPosition}%)">
  {#if showCta}
    <Cta />
  {/if}
  <div class="clipped" class:dark={themeValue === 'dark'}>
    <Button icon="send">Send location</Button>
    <Button icon="refresh">Refresh map</Button>
  </div>
</div>
