<script>
  export let label;

  import { get } from "svelte/store";

  import { theme } from "./store.js";

  const themeValue = get(theme);
</script>

<style>
  .labeledText {
    text-align: center;
    flex: 1 0 0;
  }

  .labeledText.dark .label {
    color: rgba(255, 255, 255, 0.7);
  }

  .labeledText.dark .text {
    color: rgba(255, 255, 255, 0.9);
  }

  .label {
    font-weight: normal;
  }

  .text {
    font-size: var(--sizeXl);
    font-weight: bold;
  }
</style>

<div class="labeledText" class:dark={themeValue === 'dark'}>
  <div class="label">{label}</div>
  <div class="text">
    <slot />
  </div>
</div>
