<style>
  .MainPin {
    z-index: 10;
    color: rgb(216, 59, 68);

    position: absolute;
    top: 50%;

    left: 50%;
    transform: translate(-50%, -100%);

    font-size: 48px;
  }
</style>

<i class="material-icons-round MainPin">place</i>
